* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #f8f8f8;    
  }

.container {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: fit-content;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(181, 196, 206);
    padding: 20px;
    border-radius: 5px;
}

.box-group {
    position: relative;
    display: inline-block;
}


.button {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #000000;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.item {
    width: 100%;
    padding-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(191, 189, 189);
    padding: 3px;
    font-size: 20px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.item label {
    
    font-size: 20px;
    font-weight: bold;
}

.loading {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* margin: auto; */
    width: 80px;
}

#container-loading {
    z-index: 10;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* display: flex !important; */
    display: none;
}

#error {
    color: red;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    display: none;
}

@media (max-width: 500px) {
    .container {
        width: 95%;
        padding: 3px;
    }

    .title {
        font-size: 20px;
    }

    .item label {
        font-size: 10px;
    }
}

#exist-key {
    font-size: 10px;
    color: green;
    font-weight: bold;
}

.message-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    resize: none;
  }

  .bill-container {
    font-size: 20px;
    width: 30%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
  }
  
  .bill-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }

  .bill-container p span{
    margin-left: 10px;
    font-size: 20px;
  }


  .bill-container p{
    font-size: 17px;
  }